// variables

// colors
$blue: #cc0000;
$gray-1: #CECEBF;
$gray-2: black;

// breakpoints
$smartphone: 480px;
$ipads: 1024px;
$desktops:1224px;
$large-screen: 1824px;

// radius
$radius: 4px;

// spacings
$margin: 20px;
$padding: 20px;
