// variables

// colors
$blue: #007EE5;
$gray-1: #CECEBF;
$gray-2: #5E676D;

// breakpoints
$smartphone: 480px;
$ipads: 1024px;
$desktops:1224px;
$large-screen: 1824px;

// radius
$radius: 4px;

// spacings
$margin: 20px;
$padding: 20px;
